swagger: "2.0"
info:
  version: 1.0.0
  title: Tesla Wise API
  description: Control your Tesla wisely
  termsOfService: http://teslawise.co/terms
  contact:
    name: Tesla Wise Team
    email: team@teslawise.co
    url: https://teslawise.co
host: api.teslawise.co
basePath: /api
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /users:
    get:
      description: |
        Returns all users that the current use is allowed to see.
      operationId: getUsers
      responses:
        200:
          description: users response
          schema:
            type: array
            items:
              $ref: '#/definitions/User'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      description: Creates a new User
      operationId: createUser
      parameters:
        - name: user
          in: body
          description: User to create
          required: true
          schema:
            $ref: '#/definitions/UserCreate'
      responses:
        200:
          description: pet response
          schema:
            $ref: '#/definitions/User'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /users/{id}:
    get:
      description: Returns a user based on it's unique id
      parameters:
        - name: id
          in: path
          description: ID of user to fetch
          required: true
          type: string
      responses:
        200:
          description: user response
          schema:
            $ref: '#/definitions/User'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  User:
    type: object
    properties:
      id:
        type: string
        description: Unique id representing this user
      email:
        type: string
        description: Users email address
      password:
        type: string
        description: Users password
      firstName:
        type: string
        description: Users first name
      lastName:
        type: string
        description: Users last name
  UserCreate:
    required:
      - email
      - password
      - firstName
      - lastName
    properties:
      email:
        type: string
      password:
        type: string
  Error:
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string